
// fonts
// $captionFont: "Roboto Condensed", sans-serif;
// $captionFont: "Intro", sans-serif;
$mainFont: "OpenSans", serif;
$mainFontLight: "Roboto", serif;

// colors
$btn:#14B75A;
$accent:#Ecb124;
$blue:#414e5b;
//animate
$transition:transition all 0.5s ease; 
