.item {
    //visual
    display: inline;
    text-align:center;
    // margin-left: 40px; 
    // margin-right: 40px; 
    
    &__title{
        // font-weight: bold;
        padding: 0px;
        margin: 0px;
        padding-bottom: 20px;
        font-weight: bold;
        font-size: 3rem;
        
        span {
            color:#ecb124;
            font-size: 3.5rem;
        }
        
        &--titlesub {
            color:#fff;
            font-family: 'Exo2Bold',sans-serif;
        }
    }
    &__vertical {
     h3 {
         text-align: center;
         margin-top: 80px;
     }
   
     svg {
         width: 74px;
         height: auto;
     }
    
    img {
        max-width:400px;
        max-height: 400px;
    }
      &__img-svg {
        
           &:hover {   
          path{
        width: 74px;
        transition: all 0.5s ease;
        fill:$accent !important;
        
          }
           }
    }
    p { 
        display: inline;
        text-align: center;
        vertical-align: middle;
        
    }
    
    }
    p {
        font-family: 'OpenSansRegular',sans-serif;
        color:#74818e;
    }
    &__portfolio {
        display: block;
        img {
            max-height: 320px;
            max-width: 480px;
            
        }
       
    }
    &__responsive-img {
      max-width: 258px;
    }
   &__vertical-2 {
       text-align: center;
    &__rounded-img-wrapp {
        img {
        border-radius: 10em;
        border:silver 5px solid;
        overflow: hidden;
        width: 136px;
        &:hover {
            transform: scale(1.1);
            border-color: $accent;
            transition: all 0.3s ease;
        }
        }
      span{
          letter-spacing: 2px;
          text-transform: uppercase;
          &:hover{
         color:$accent;
          }
           i{
               width: 20px;
               height: 20px;
           }
       }
        
        
    } 
    }
    
}
    
