.main-nav { 
            //  text-align: center;
                font-size: 15px;
        &__logo {
             display: block;
             width: 100px;  
             height: 100px;
            
             
             img {
                 width: 100%;
            //  margin-top: 48px;
             }
           
        }
        &__hamburger {

           background-color: $blue;
           ul {
               list-style-type: none;
               padding: 20px 0px;
               margin: 0;
             
            //    width: 940px;
           }
            li{
                max-width: 940px;
             display: inline-block;
            list-style-type: none;
            padding: 0px;
            margin: 0px;  
           
           


            }
            a   {
            display: block;
            padding:10px 18px;
            text-decoration: none;
            }
            &:hover {
                color:#fff;
              text-decoration: none;
              background-color: $accent;
                
            }
        }
        
           
       
        ul {
          
            margin-top: 5px;
            margin-bottom: 10px;
            display: inline-block;
            text-align: center;
               
        }
        li {
            display: inline-block;
            list-style-type: none;
            padding: 0px;
            margin: 0px;
        }
        a {
            display: block;
            padding:10px 18px;
            color:#7e91a4;
            
        }
        &--footer {
            display: inline;
            padding: 70px;
            ul {
          padding: 70px 0px;
            }
            a {
                &:hover {
                color:#fff;
                }
            }
        }
}
        
   

    



        

 

