.main-content {

        padding: 80px 0px;
        background-color: $blue;
    &--advantages {
        padding: 80px 0px;
        //visual 
        background-color: $blue;
        color:#fff;
       
    }
    &--gallery {

        background-color: #f8f8f8;
       
        img {
           border:5px solid #ecb124;
           opacity: 60%;
           display: block;
           text-align: center;
           max-width:420px;
           @include atTabletsPortrait {
               max-width: 360px;
           }
           &::before {
               content: '';
               width: 100%;
               height: 100%;
               position: absolute;
               top:0;
               left:0;
               background-color:#414e5b;
               opacity: 0.6;
           }
         @include atSmall {
         
           max-width: 300px;
        }
       }
       &__img {

       
        &__triangle {
            position: absolute;
            top: 0px;
            right: 0px;
            // @include triangle(12px,gray,up-right);
        }
       }
       ul {
           margin-bottom: 50px;
         color: #414e5b;
         font-size: 2rem;
         font-weight: bolder;
       }
       p {
           margin-bottom: 30px;
          color: #7e91a4;

       }
       h2 {
           color:#222222;
           font-family: 'Roboto',sans-serif;
           font-weight: 400;
           margin-top:0px;  
           @include atSmall {
               font-size: 2.5rem;
           }
       }
    }
      &--direction {
          height: 500px;
            h2 {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 80px;
        }
        }
    

}